*.db*.pyc
*.pyo


#for pdfs
._*.pdf

#for gedit
*~
~*


#the local sqlite database
*.db
*.sqlite

#for dir
forumsrc/
django14/
registration/
django15/
gis/
images/
images2/



# for txt
*.txt

